header
  //nav.header-navigation
  nav
    img(href= require('./header/logo-Toxin.svg'))
    ul
    mixin menu-header(name, reference)
      li
        a.header-text(href= reference + '.html')= name
    
    +menu-header('О нас ', 'index')
    +menu-header('О нас ', 'index')
    +menu-header('О нас ', 'index')
    +menu-header('О нас ', 'index')
    +menu-header('О нас ', 'index')
    +menu-header('О нас ', 'index')
    +menu-header('О нас ', 'index')
    +menu-header('О нас ', 'index')


